@import "common";

main {
  width: 960px;
  margin: auto
}

main .p1 {
  height: 40px;
  width: 960px;
  border-bottom: 2px solid #ccc;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}

main table {
  width: 960px;
  background: #fbfcff;
  margin: 50px auto;
  border-collapse: collapse;
  border-color: #c0daf8;
}

main table th {
  height: 40px;
  border-bottom: 2px solid #c0daf8;
}

main table td {
  height: 100px;
  text-align: center;
  border-bottom: 1px solid #c0daf8;
}

main table td:nth-of-type(1) {
  width: 320px;
}

main .tongzhi {
  height: 40px;
}

main .tongzhi span {
  float: right;
  display: inline-block;
  height: 40px;
}

main .tongzhi .last {
  width: 60px;
}

button {
  float: right;
}

.cart_details {
  height: 100px;
  width: 305px;
  margin-left: 15px;
  display: flex;
}

.cart_details dt {
  position: relative;
  float: left;
  height: 100px;
  width: 80px;
  border: 1px solid #ddd;
}

.cart_details dt img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 70px;
}

.cart_details dd {
  float: left;
  height: 100px;
  width: 200px;
  margin: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*.cart_details dd div{
    width:200px;
    display:flex;
    height:100%;
    justify-content: space-around;
}*/
.cart_details p {
  width: 200px;
  border: 0;
  text-align: left;
}

.cart_details p span {
  color: #888;
}

.cart_details .title {
  font-size: 12px;
  font-weight: normal;
}

.cart_details .color {
  font-size: 12px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
}

.cart_details .memory {
  font-size: 12px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
}