@import "common";
.w{
  width:950px;
}
#logo{
  height: 110px;
}
#logo h1{
  margin-top: 29px;
  width:159px;
  height:52px;
  padding-right:20px;
}
#main{
  height: auto;
  background: #fff;
  border: 1px solid #e1dfda;
}
#main .top{
  height: 30px;
  border-bottom: 1px solid #e1dfda;
  padding: 10px 20px;
  line-height: 30px;
}
#main .form .label{
  padding: 10px 0px;
  width:700px;
  height:40px;
  margin:0 auto;
}
#main .form .label .name{
  font-size: 15px;
  color: #333;
  width: 136px;
  text-align: right;
  line-height: 36px;
}
#main .form .label .name span{
  color:red;
}
#main .form .label .input input{
  padding-left: 5px;
  height:40px;
  width:300px;
  font-size: 10px;
  outline: darkred;
}

#main .form .label .input button{
  width:100px;
  height:40px;
  font-size: 10px;
  margin-left:10px
}
#main .form .label .hint{
  width: 175px;
  height: 46px;
  line-height: 46px;
  text-indent: 10px;
}