@import "common";
.w{
  width: 990px;

}
#header-login{
  height:100px;
  padding-top:20px;
}
#header-login .logo-img{
  display: inline-block;
}
#header-login .logo-img img{
  display: inline-block;
  width: 800px;
}
#header-login .login-login{
  line-height: 120px;
  font-size: 16px;
}
#header-login .login-login a{color:red;}
.login-index{
  height:352px;
  border:1px solid #ccc;
}
.login-index .login-right{
  padding: 45px 0 0 130px;
  height: 322px;
  width: 340px;
}
.login-index .login-right .user,.login-index .login-right .seller{
  width:250px;
  display: inline;
  float: left;
  height: 35px;
  overflow: hidden;
  font: 18px/35px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
  text-align: center;
  cursor: pointer;
  border-bottom: red 2px solid;
}
.login-index .login-right .seller{
  border-bottom: #ccc 2px solid;
}
.login-index .login-right .user-login,.login-index .login-right .seller-login{
  margin:15px 0 ;
  padding: 8px 5px;
  height: 15px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-index .login-right button{
  width:260px;
  background: #db2e2e;
  border: #db2e2e 1px solid;
  height:40px;
  color: white;
  cursor: pointer;
}
.login-index .login-right .login-bottom{
  margin-top:20px;
  width:250px;
}
.login-index .login-right .login-bottom .line{
  width:80px;
  height: 5px;
  border-bottom: 1px #ccc solid;
}
.login-index .login-right .login-bottom p{
  display: inline-block;
  text-align: center;
  width:90px;
}
.login-index .login-right img{
  cursor: pointer;
}
footer{
  position: fixed;
  bottom:0;
  height:30px;
  border-top: 1px #dcdcdc solid;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

