@charset "UTF-8";
/* CSS Document */
/*----------------样式重置--------*/
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dd, dt, a, image, input, figure, p {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

input, button {
  outline: none;
}

img {
  display: block;
  border: 0;
}

body {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #3e3e3e;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #f00;
  text-decoration: underline;
}

/*-----------------------总体样式-----------*/
.w {
  width: 1200px;
  margin: 0 auto;
}

.l {
  float: left;
}

.r {
  float: right;
}

/*--------------------------header------------------*/
header {
  height: 30px;
  width: 100%;
  background: #f5f5f5;
}

header .user-info {
  height: 30px;
}

header span {
  line-height: 30px;
}

header span:nth-child(1) a {
  color: #666;
  padding: 0 20px 0 0;
}

header span:nth-child(1) a:hover {
  color: #f00;
  padding: 0 20px 0 0;
}

header span:nth-child(2) {
  padding: 0 20px 0 0;
}

header span a {
  color: #36c;
}

header ul {
  height: 30px;
  line-height: 30px;
  position: relative;
}

header ul li {
  float: left;
  padding: 0 10px;
}

header ul li a .ico1 {
  position: absolute;
  top: 14px;
  right: 217px;
  width: 7px;
  height: 4px;
  background: url("/project/ec/assets/imgs/indeximg/ico.png");
  background-position: 0 -45px;
}

header ul li a .ico2 {
  position: absolute;
  top: 14px;
  right: 2px;
  width: 7px;
  height: 4px;
  background: url("/project/ec/assets/imgs/indeximg/ico.png");
  background-position: 0 -45px;
}

/*---------------------------logo-search--------------*/
#logo-search {
  padding: 30px 0;
  background: #fff;
  height: 60px;
}

.logo-search img {
  height: 60px;
  width: 130px;
  display: inline-block;
}

.search {
  width: 540px;
  height: 36px;
  line-height: 36px;
  padding: 13px 0 13px 200px;
}

input {
  float: left;
  outline: none;
}

.text {
  width: 375px;
  height: 30px;
  border: 3px solid #ff0036;
  border-right: 0;
  font-size: 12px;
  color: #ccc;
  text-indent: 8px;
}

.sub {
  width: 80px;
  height: 36px;
  background: #ff0036;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.quick-entry {
  position: relative;
}

.quick-entry a {
  line-height: 60px;
  margin: 0 50px;
  font-size: 14px;
}

.quick-entry a .icon1 {
  top: 21px;
  left: 25px;
  width: 20px;
  display: inline-block;
  height: 20px;
  position: absolute;
  background: url("/project/ec/assets/imgs/indeximg/icon.png") 0 -167px;
  z-index: 100;
}

.quick-entry a .icon2 {
  top: 21px;
  left: 188px;
  width: 20px;
  display: inline-block;
  height: 18px;
  position: absolute;
  background: url("/project/ec/assets/imgs/indeximg/icon.png") 0 -210px;
  z-index: 100;
}

.quick-entry a .icon3 {
  position: absolute;
  left: 198px;
  top: 12px;
  padding: 0 3px;
  height: 13px;
  font: 12px/13px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  background: #f33;
  border-radius: 10px;
}

/*--------------------------footer----------------------------------------*/
#footer {
  margin-top: 40px;
  background: #2d2d2d;
  height: 150px;
}

#footer .four {
  float: left;
  padding-left: 80px;
}

#footer .four li {
  padding: 5px 0;
}

#footer .four li:nth-child(1) {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

#footer .phone {
  height: 56px;
  width: 200px;
  margin-left: 60px;
  margin-top: 40px;
}

#footer .phone span {
  display: inline-block;
  width: 44px;
  height: 46px;
  background: url("/project/ec/assets/imgs/indeximg/footer.png") no-repeat 0 -90px;
}

#footer .phone h3 {
  height: 28px;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
}

#footer .phone p {
  height: 28px;
  display: inline-block;
  color: #ffffff;
}

#footer .copy {
  width: 100%;
  height: 30px;
}

#footer .copy p {
  line-height: 30px;
  color: #fff;
}

/*-----------------------right-bar -------------------------------*/
.J-global-toolbar div a {
  margin: 0px;
  padding: 0px;
  font: 12px/150% Arial,Verdana,"宋体";
  color: #666;
}

.toolbar-wrap {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9990;
  width: 35px;
  height: 100%;
}

.toolbar-wrap a {
  text-decoration: none;
}

.toolbar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 29px;
  height: 100%;
  border-right: 6px solid #7A6E6E;
}

.toolbar-panels {
  position: absolute;
  left: 35px;
  top: 0px;
  width: 270px;
  height: 100%;
  z-index: 2;
  background: #ECEAEA none repeat scroll 0% 0%;
}

.toolbar-panel {
  width: 270px;
  height: 100%;
  position: absolute;
  background: #ECEAEA none repeat scroll 0% 0%;
}

.tbar-panel-header {
  position: relative;
  width: 270px;
  height: 40px;
  line-height: 40px;
  background: #ECEAEA none repeat scroll 0% 0%;
  font-family: "microsoft yahei";
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

.tbar-panel-header .title {
  display: inline-block;
  height: 40px;
  color: #5E5050;
  font: 16px/40px "微软雅黑";
}

.tbar-panel-cart .tbar-panel-header i {
  width: 20px;
  height: 18px;
  background-position: 0px 0px;
  margin-top: 11px;
}

.tbar-panel-header i {
  margin-right: 4px;
  margin-left: 10px;
  vertical-align: top;
}

.tbar-panel-header i, .tbar-panel-header .close-panel {
  display: inline-block;
  font-style: normal;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
}

.tbar-panel-header .title em {
  display: inline-block;
  vertical-align: top;
}

.tbar-panel-header .close-panel {
  width: 12px;
  height: 12px;
  background-position: 0px -250px;
  position: absolute;
  right: 8px;
  top: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-out 0s;
}

.tbar-panel-main {
  position: relative;
  margin: 0px;
  padding: 0px;
  font: 12px/150% Arial,Verdana,"宋体";
  color: #666;
}

.tbar-tipbox {
  display: block;
}

.tbar-panel-content {
  width: 270px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.tbar-tipbox .tip-inner {
  padding: 6px 5px;
  border: 1px solid #EDD28B;
  background: #FFFDEE none repeat scroll 0% 0%;
  text-align: center;
}

.tbar-tipbox .tip-text {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  color: #333;
}

.tbar-tipbox .tip-btn {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
  margin-left: 5px;
  color: #FFF;
  vertical-align: middle;
  background: #C81623 none repeat scroll 0% 0%;
}

.tbar-panel-cart .tbar-panel-footer {
  height: 50px;
  background-color: #ECEAEA;
  margin: 0px;
  padding: 0px;
}

.tbar-checkout {
  height: 40px;
  padding: 5px 110px 5px 5px;
  position: relative;
}

.tbar-checkout .jtc-number strong {
  font-family: verdana;
  color: #C81623;
}

.tbar-checkout .jtc-number {
  line-height: 20px;
  font: 12px/150% Arial,Verdana,"宋体";
  color: #666;
}

.tbar-checkout .jtc-sum {
  line-height: 20px;
  font: 12px/150% Arial,Verdana,"宋体";
  color: #666;
}

.tbar-checkout .jtc-sum strong {
  font-family: verdana;
  color: #C81623;
}

.tbar-checkout .jtc-btn {
  position: absolute;
  right: 5px;
  top: 7px;
  width: 110px;
  height: 35px;
  font: 16px/35px "微软雅黑";
  text-align: center;
  background: #C81623 none repeat scroll 0% 0%;
  color: #FFF;
}

.tbar-cart-list {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font: 12px/150% Arial,Verdana,"宋体";
  color: #666;
}

.tbar-cart-item {
  padding: 0px 5px;
  margin-bottom: 10px;
  background: #FFF none repeat scroll 0% 0%;
}

.jtc-item-promo {
  padding: 12px 0px 12px 57px;
  border-bottom: 1px dashed #E1E1E1;
}

.jtc-item-promo .promo-tag {
  position: relative;
  float: left;
  width: 40px;
  height: 20px;
  margin-top: -1px;
  margin-left: -57px;
  margin-right: 17px;
  text-align: center;
  font: 12px/20px "宋体";
  color: #FFF;
  background-color: #F58813;
}

.jtc-item-promo .promo-text {
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 12px/18px verdana;
}

.jtc-item-goods {
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}

.jtc-item-goods .p-img {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #DDD;
  padding: 0px;
  margin-right: 5px;
}

.jtc-item-goods .p-img img {
  width: 50px;
  height: 50px;
}

img {
  border: 0px none;
  vertical-align: middle;
}

.jtc-item-goods .p-name {
  height: 32px;
  line-height: 16px;
  margin-bottom: 4px;
  overflow: hidden;
}

.jtc-item-goods .p-name a {
  color: #333;
}

.jtc-item-goods .p-price {
  height: 16px;
  padding-right: 65px;
  overflow: hidden;
  font: 12px/16px verdana;
  color: #666;
}

.jtc-item-goods .p-price strong {
  color: #C81623;
  font-weight: normal;
}

.jtc-item-goods .p-del {
  position: absolute;
  right: 10px;
  top: 46px;
  width: 35px;
  height: 16px;
  line-height: 16px;
  color: #005AA0;
  text-align: right;
  display: none;
}

.tbar-panel-history div {
  padding: 0px;
}

.jt-history-wrap {
  width: 235px;
  margin: 0px auto;
}

.tbar-panel-history ul {
  overflow: hidden;
  margin-right: -15px;
  margin-top: 0px;
  list-style: outside none none;
  padding: 0px;
}

.tbar-panel-history .tbar-panel-header i {
  width: 20px;
  height: 17px;
  margin-top: 11px;
  background-position: 0px -100px;
}

.tbar-panel-follow .tbar-panel-header i {
  width: 20px;
  height: 17px;
  margin-top: 11px;
  background-position: 0px -50px;
}

.tbar-panel-history .jth-item {
  float: left;
  position: relative;
  width: 100px;
  height: 120px;
  margin-right: 15px;
  background: #FFF none repeat scroll 0% 0%;
  margin-bottom: 15px;
  padding: 5px;
}

.tbar-panel-history .jth-item .img-wrap {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-bottom: 5px;
}

.tbar-panel-history .jth-item .add-cart-button {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  display: none;
  position: absolute;
  width: 100px;
  bottom: 25px;
  left: 5px;
  z-index: 3;
  color: #FFF;
  background: rgba(28, 25, 28, 0.8) none repeat scroll 0% 0%;
}

.tbar-panel-history .jth-item .price {
  color: #C81623;
}

.tbar-panel-history .history-bottom-more {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-family: "宋体";
  color: #666;
}

/*-----  */
.toolbar-header {
  position: absolute;
  top: 0px;
  right: -6px;
}

.toolbar-tabs {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 35px;
  margin-top: -61px;
}

.toolbar-tab {
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: #7A6E6E;
  border-radius: 3px 0px 0px 3px;
  font: 12px/150% Arial,Verdana,"宋体";
  color: #666;
  display: inline-block;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
}

.tbar-tab-cart {
  background-position: -50px 0px;
}

.tbar-tab-follow {
  background-position: -50px -50px;
}

.tbar-tab-history {
  background-position: -50px -100px;
}

.tab-ico {
  width: 34px;
  height: 35px;
  margin-left: 1px;
  position: relative;
  z-index: 2;
  background-color: #7A6E6E;
}

.tab-text {
  width: 62px;
  height: 35px;
  line-height: 35px;
  color: #FFF;
  text-align: center;
  font-family: "微软雅黑";
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 0px;
  background-color: #7A6E6E;
  border-radius: 3px 0px 0px 3px;
  transition: left 0.3s ease-in-out 0.1s;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.tab-sub {
  position: absolute;
  z-index: 3;
  right: 2px;
  top: -5px;
  height: 11px;
  padding: 1px 2px;
  border: 1px solid #B61D1D;
  overflow: hidden;
  color: #FFF;
  font: 11px/11px verdana;
  text-align: center;
  min-width: 11px;
  border-radius: 10px;
  background-color: #CC6060;
  background-image: linear-gradient(to bottom, #CC6060 0px, #B61D1D 100%);
}

.hide {
  display: none;
}

.toolbar-footer {
  position: absolute;
  bottom: -1px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font: 12px/150% Arial,Verdana,"宋体";
  color: #666;
}

.tbar-tab-top {
  background-position: -50px -250px;
}

.tbar-tab-feedback {
  background-position: -50px -300px;
}

.footer-tab-text {
  width: 50px;
  height: 35px;
  line-height: 35px;
  color: #FFF;
  text-align: center;
  font-family: "微软雅黑";
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 0px;
  background-color: #7A6E6E;
  border-radius: 3px 0px 0px 3px;
  transition: left 0.3s ease-in-out 0.1s;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.tbar-tab-hover {
  left: -60px;
  background-color: #C81623;
}

.tbar-tab-footer-hover {
  left: -48px;
  background-color: #C81623;
}

.tbar-tab-selected {
  background-color: #C81623;
}

.tbar-tab-selected .tab-sub {
  color: #C81623;
  background-color: #FFF;
  background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}

.tbar-tab-click-selected {
  background-color: #C81623;
}

.tbar-tab-click-selected .tab-sub {
  color: #C81623;
  background-color: #FFF;
  background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}

.survey-tab-ico {
  display: none;
}

.survey-tab-text {
  left: 0px;
  width: 35px;
  height: 30px;
  padding: 2px 0px 3px;
  line-height: 15px;
  background: #C81623 none repeat scroll 0% 0%;
  color: #FFF;
  text-align: center;
  font-family: "微软雅黑";
  position: absolute;
  z-index: 1;
  top: 0px;
  border-radius: 3px 0px 0px 3px;
  transition: left 0.3s ease-in-out 0.1s;
  font-style: normal;
  margin: 0px;
  cursor: pointer;
}

.toolbar-open {
  right: 270px;
}

.J-close:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.tbar-panel-history .jth-item .add-cart-button:hover {
  background: #c81623 none repeat scroll 0% 0%;
}

/*-----------------------js----------------*/
.welcome {
  display: inline;
}

.exit a {
  color: red;
  margin-left: 5px;
}

/*-------------------------------------*/
.w {
  width: 990px;
  margin: 0 auto;
}

#shopping {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ddd;
}

#shopping .w h1 {
  width: 170px;
  overflow: hidden;
  margin-top: 15px;
}

#shopping .w p.name {
  width: 170px;
  height: 44px;
  line-height: 44px;
  color: #666;
  font-size: 22px;
  margin: 30px 0 0 10px;
  text-align: center;
}

#shopping .w p.load {
  width: auto;
  height: 24px;
  line-height: 24px;
  color: #333;
  margin: 60px 4px 0 0;
}

#shopping .w p.load a {
  color: #e6133c;
  font-weight: 700;
}

#allCenter .cart-title {
  width: 990px;
  height: 51px;
  border-bottom: 1px solid #ccc;
}

#allCenter .cart-title .name {
  width: auto;
  height: 32px;
  line-height: 32px;
  padding: 0 6px;
  margin-top: 18px;
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

#allCenter .cart-title .name span {
  color: #e6133c;
  margin-left: 4px;
}

#allCenter .cart-title .pay-message {
  width: auto;
  height: 48px;
  line-height: 48px;
  margin-top: 3px;
  color: #000;
}

#allCenter .cart-title .pay-message span.favorable {
  color: #999;
  line-height: 48px;
}

#allCenter .cart-title .pay-message span.reduce {
  color: #333;
  margin-right: 10px;
}

#allCenter .cart-title .pay-message span.price {
  color: #d62233;
  font-size: 16px;
  font-weight: 700;
}

#allCenter .cart-title .pay-message button {
  height: 26px;
  background: #bbb;
  width: 70px;
  color: #fff;
  font-size: 12px;
  border: 0;
  cursor: pointer;
  text-align: center;
  outline: 0;
}

#allCenter .cart-table .cart-head {
  height: 44px;
  line-height: 44px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

#allCenter .cart-table .cart-head label {
  width: 50px;
  height: 44px;
  line-height: 44px;
  margin-left: 15px;
}

#allCenter .cart-table .cart-head label input {
  margin-top: 17px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #999;
}

#allCenter .cart-table .cart-head label span {
  height: 44px;
  line-height: 44px;
  margin-left: 10px;
}

#allCenter .cart-table .cart-head .item {
  width: 390px;
  height: auto;
  text-align: center;
  height: 44px;
  line-height: 44px;
  margin-left: 80px;
}

#allCenter .cart-table .cart-head .item-price {
  width: 138px;
  height: auto;
  height: 44px;
  line-height: 44px;
}

#allCenter .cart-table .cart-head .number {
  width: 102px;
  height: auto;
  height: 44px;
  line-height: 44px;
}

#allCenter .cart-table .cart-head .total-price {
  width: 132px;
  height: auto;
  height: 44px;
  line-height: 44px;
}

#allCenter .cart-table .cart-head .action {
  height: auto;
  height: 44px;
  line-height: 44px;
}

#allCenter .cart-table .no-points {
  height: 200px;
  background: url("../project/ecs/resouse/img/shopping/empty.png") no-repeat 300px center;
  display: block;
}

#allCenter .cart-table .no-points .empty {
  margin-left: 400px;
  margin-top: 85px;
}

#allCenter .cart-table .no-points .empty p:nth-of-type(1) {
  font-size: 16px;
  color: #666;
}

#allCenter .cart-table .no-points .empty p:nth-of-type(2) {
  font-size: 12px;
  color: #666;
}

#allCenter .cart-table .no-points .empty p a {
  color: #0077d7;
}

#allCenter .list ul li {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background: #fffaf1;
  height: 110px;
}

#allCenter .list ul li input.i1 {
  background: #d62233;
  margin: 15px 0;
}

#allCenter .list ul li .product {
  padding: 15px 10px 14px;
}

#allCenter .list ul li .product img {
  width: 78px;
  height: 78px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

#allCenter .list ul li .type-box {
  width: 300px;
  height: 80px;
  padding: 15px 10px 14px;
  overflow: hidden;
  margin-left: 50px;
}

#allCenter .list ul li .type-box .line {
  width: 100%;
  height: 50px;
  line-height: 18px;
  color: #999;
  overflow: hidden;
}

#allCenter .list ul li .item-price-box {
  width: 120px;
  height: 80px;
  line-height: 18px;
  margin: 15px 0 0 15px;
}

#allCenter .list ul li .item-price-box p {
  width: 120px;
  height: 18px;
  line-height: 18px;
  color: #999;
}

#allCenter .list ul li .item-price-box .price {
  width: 120px;
  height: 18px;
  line-height: 18px;
  float: left;
  display: inline;
  color: #000;
}

#allCenter .list ul li .item-price-box .blink {
  width: 30px;
  height: 18px;
  line-height: 18px;
  margin-top: 20px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background: #efae00;
}

#allCenter .list ul li .number-box {
  width: 80px;
  height: 60px;
  line-height: 18px;
  color: #333;
  margin-top: 15px;
  position: relative;
}

#allCenter .list ul li .number-box em {
  width: 17px;
  height: 24px;
  line-height: 24px;
  background: #f0f0f0;
  margin-top: 2px;
  border: 1px solid #eee;
  color: #333;
  text-align: center;
  cursor: pointer;
  font-style: normal;
}

#allCenter .list ul li .number-box input {
  width: 40px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #aaa;
  color: #333;
  text-align: center;
  margin-top: 2px;
}

#allCenter .list ul li .price-box {
  width: 100px;
  height: 80px;
  margin-left: 50px;
  margin-top: 15px;
}

#allCenter .list ul li .price-box .price {
  width: 100px;
  height: 18px;
  line-height: 18px;
  color: #d62233;
  font-weight: 700;
  overflow: hidden;
}

#allCenter .list ul li .action-box {
  width: 62px;
  height: 80px;
  margin-left: 30px;
  line-height: 18px;
  margin-top: 15px;
}

#allCenter .list ul li .action-box a:nth-of-type(1) {
  color: #333;
}

#allCenter .list ul li .action-box a:nth-of-type(2) {
  color: #999;
}

#foot .w div {
  width: 177px;
}

/*# sourceMappingURL=shopping.css.map */
